html{
    font-family: arial;
}
body{
    color:#FF8000;
    margin: 0;
}
    ul {
            list-style-type: none;
            margin: 0;
            margin-top: 27px;
            padding: 0;
            overflow: hidden;
            background-color: #FF8000;
            border: 1px solid #FF8000; 
            border-radius: 5px;
            }

            li {
                float: left;
                margin-left: 2%;
            }
            li p {
            display:block;
            color:white;
            text-align:center;
            text-decoration:none;
            font-family: "arial";
            font-size: 24px;
            padding: 16px;
            margin-top: 0px;
            margin-bottom: 0;
            font-weight: bold;
            }
            li a {
            display:block;
            color:white;
            text-align:center;
            padding:16px;
            text-decoration:none;
            font-family: "arial";
            font-size: 24px;
            font-weight: bold;
            }

            li a:hover{
                background-color:#F1AF6D;
            }
            h2,p,div{ 
                /*color: white;*/

            }
            .logo{
    width: 100%;
    margin-left: 10px;
    margin-top: 15px;
}
.arriba{
    display: flex;
}
.arribauno{
    width: 10%;
    align-content: center;
}
.arribados{
    width: 90%;
}
.seleccion{
    margin-top: 16px;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    width: 150px;
    height: 30px;
    font-weight: bold;
}
footer{
    background-color: #FF8000;
    color:white;

}
.social{
    width: 4%;
    position: relative;
    left: 90%;
    bottom: 16px;
}
.twitter{
    width: 5.5%;
}
footer p{
    position: relative;
    top: 30pt;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}